<div data-ng-controller="mainController as vm">
    <nav id="menu"
         class="navbar navbar-fixed-top">

        <div class="container">
            <ul id="menu-list">
                <li><a data-ng-click="vm.navigateTo('/', 'About')">Home</a></li>
                <li><a data-ng-click="vm.navigateTo('/', 'About')">About</a></li>
                <li><a data-ng-click="vm.navigateTo('/' ,'Products')">Products</a></li>
                <li><a data-ng-click="vm.navigateTo('/News', 'allnews')">News</a></li>
            </ul>
        </div>

    </nav>
</div>