.greysmith {
    font-family: 'Oswald', sans-serif;
}
.grey {
    color: #303030;
}

.smith {
    color: #7B7B7B;
}

#menu {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, .85);
}

#menu-list {
    margin-top: 20px;
}

#menu li {
    display: inline-block;
    margin-right: 10vw;
    font-weight: 400;
}

#menu li:hover {
    border-bottom: 2px solid black;
}

#main-title {
    text-align: center;
    min-height: 100vh;
    min-height: 100%;
}

#contact {
    position: fixed;
    font-size: 24px;
    bottom: 50px;
    right: 50px;
    font-weight: 400;
    color: #303030;
}

#contact:hover {
    border: none;
}

#main-content {
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
}

.new-section-start {
    margin: 10vh 0;
}

.summary {
    margin: 25px 0;
    width: auto;
    height: auto;
    padding: 0;
}

#footer-text {
    font-size: 14px;
    font-weight: 600;
    padding-left: 20px;
    color: #303030;
    /*position: absolute;
    bottom: 0;
    margin: 0;*/
}

.affix {
    top: 0;
    width: 100%;
    z-index: 99 !important;
}

.affix-top {
    position: static;
    top: -35px;
}

