.greysmith {
    font-family: 'Oswald', sans-serif;
}
.grey {
    color: #303030;
}

.smith {
    color: #7B7B7B;
}

#menu li {
    display: inline-block;
    margin-right: 10vw;
}

#menu li:hover {
    border-bottom: 2px solid black;
}

#main-title {
    text-align: center;
    min-height: 100vh;
    min-height: 100%;
}

#contact {
    position: fixed;
    font-size: 50px;
}

