#mainstage {
    position: absolute;
    height: 100%;
}

#content-nimble {
    transform: scale(2.5);

    margin-left: 40%;
    margin-top: 10%;
    /*visibility: hidden;*/
}

#menu {
    z-index: 5;
}
#summary-nimble {
    margin-top: 25px;
    width: 400px;
}

.new-section-start {
    height: 100%;
}
