
.overlay-below {
    position: absolute;
    
}

.overlay-above {
    position: relative;
    z-index: 2;
}

#content-nimble {
    margin-top: 300px;
    margin-left: 500px;
    transform: scale(2.5)
}

#summary-nimble {
    margin-top: 25px;
    width: 400px;
}

#product-area {
    width: 100%;
    height: 100%;
}